In [227]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [228]:

IAT_df = pd.DataFrame.from_dict({'IAT': [1, 2, 3, 4], 'P': [0.25, 0.40, 0.20, 0.15]})
IAT_df['CDF'] = IAT_df['P'].cumsum()
IAT_df['range'] = IAT_df['CDF'] * 100  -1
IAT_df['ran']=[0] + IAT_df["CDF"].tolist()[:-1]

print(IAT_df.info())
IAT_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IAT     4 non-null      int64
 1   P       4 non-null      float64
 2   CDF     4 non-null      float64
 3   range   4 non-null      float64
 4   ran     4 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 292.0 bytes
None

   IAT     P   CDF  range   ran
0    1  0.25  0.25   24.0  0.00
1    2  0.40  0.65   64.0  0.25
2    3  0.20  0.85   84.0  0.65
3    4  0.15  1.00   99.0  0.85

In [229]:
ABLE_ST_df = pd.DataFrame.from_dict({'IAT': [2, 3, 4,5], 'P': [0.3,0.28,0.25,0.17]})
ABLE_ST_df['CDF'] = ABLE_ST_df['P'].cumsum()
ABLE_ST_df['range'] = ABLE_ST_df['CDF'] * 100  -1
ABLE_ST_df['ran']=[0] + ABLE_ST_df["CDF"].tolist()[:-1]
print(ABLE_ST_df.info())
ABLE_ST_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IAT     4 non-null      int64
 1   P       4 non-null      float64
 2   CDF     4 non-null      float64
 3   range   4 non-null      float64
 4   ran     4 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 292.0 bytes
None

   IAT     P   CDF  range   ran
0    2  0.30  0.30   29.0  0.00
1    3  0.28  0.58   57.0  0.30
2    4  0.25  0.83   82.0  0.58
3    5  0.17  1.00   99.0  0.83

In [230]:
BAKER_ST_df = pd.DataFrame.from_dict({'IAT': [2,3, 4,5], 'P': [0.35,0.25,0.20,0.20]})
BAKER_ST_df['CDF'] = BAKER_ST_df['P'].cumsum()
BAKER_ST_df['range'] = BAKER_ST_df['CDF'] * 100  -1
BAKER_ST_df['ran']=[0] + BAKER_ST_df["CDF"].tolist()[:-1]
print(BAKER_ST_df.info())
BAKER_ST_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IAT     4 non-null      int64
 1   P       4 non-null      float64
 2   CDF     4 non-null      float64
 3   range   4 non-null      float64
 4   ran     4 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 292.0 bytes
None

   IAT     P   CDF  range   ran
0    2  0.35  0.35   34.0  0.00
1    3  0.25  0.60   59.0  0.35
2    4  0.20  0.80   79.0  0.60
3    5  0.20  1.00   99.0  0.80

In [231]:
IAT_RN_LIST=[0,26,98,90,26,42,74,80,68,22,48,34,45,24,34,63,38,80,42,56,89,18,51,71,16,92,0]
ST_RN_LIST= [95,21,51,92,89,38,13,61,50,49,39,53,88,1,81,53,81,64,1,67,1,47,75,57,87,47,0]

In [232]:
double_server_DF=pd.DataFrame.from_dict({'RN_IAT':IAT_RN_LIST ,"IAT":None,"clock":None, 'RN_ST': ST_RN_LIST,"Able_ST_Begine":0,"Able_ST":0,"Able_ST_End":0,"Baker_ST_Begine":0,"Baker_ST":0,"Baker_ST_End":0,"Queuing_Time":0,"Time_Spent_n_System":0,"Able_IDT":-1,"Baker_IDT":-1})
double_server_DF.index.name = 'Call_ID'
double_server_DF

,RN_IAT,IAT,clock,RN_ST,Able_ST_Begine,Able_ST,Able_ST_End,Baker_ST_Begine,Baker_ST,Baker_ST_End,Queuing_Time,Time_Spent_n_System,Able_IDT,Baker_IDT
Call_ID,,,,,,,,,,,,,,
0,0,None,None,95,0,0,0,0,0,0,0,0,-1,-1
1,26,None,None,21,0,0,0,0,0,0,0,0,-1,-1
2,98,None,None,51,0,0,0,0,0,0,0,0,-1,-1
3,90,None,None,92,0,0,0,0,0,0,0,0,-1,-1
4,26,None,None,89,0,0,0,0,0,0,0,0,-1,-1
5,42,None,None,38,0,0,0,0,0,0,0,0,-1,-1
6,74,None,None,13,0,0,0,0,0,0,0,0,-1,-1
7,80,None,None,61,0,0,0,0,0,0,0,0,-1,-1
8,68,None,None,50,0,0,0,0,0,0,0,0,-1,-1
9,22,None,None,49,0,0,0,0,0,0,0,0,-1,-1
10,48,None,None,39,0,0,0,0,0,0,0,0,-1,-1
11,34,None,None,53,0,0,0,0,0,0,0,0,-1,-1
12,45,None,None,88,0,0,0,0,0,0,0,0,-1,-1
13,24,None,None,1,0,0,0,0,0,0,0,0,-1,-1
14,34,None,None,81,0,0,0,0,0,0,0,0,-1,-1
15,63,None,None,53,0,0,0,0,0,0,0,0,-1,-1
16,38,None,None,81,0,0,0,0,0,0,0,0,-1,-1
17,80,None,None,64,0,0,0,0,0,0,0,0,-1,-1
18,42,None,None,1,0,0,0,0,0,0,0,0,-1,-1
19,56,None,None,67,0,0,0,0,0,0,0,0,-1,-1
20,89,None,None,1,0,0,0,0,0,0,0,0,-1,-1
21,18,None,None,47,0,0,0,0,0,0,0,0,-1,-1
22,51,None,None,75,0,0,0,0,0,0,0,0,-1,-1
23,71,None,None,57,0,0,0,0,0,0,0,0,-1,-1
24,16,None,None,87,0,0,0,0,0,0,0,0,-1,-1
25,92,None,None,47,0,0,0,0,0,0,0,0,-1,-1
26,0,None,None,0,0,0,0,0,0,0,0,0,-1,-1

In [233]:

IAT_conditions = [(double_server_DF["RN_IAT"] >= low) & (double_server_DF["RN_IAT"] <= high) for low, high in zip(IAT_df["ran"], IAT_df["range"])]

double_server_DF["IAT"] = np.select(IAT_conditions, IAT_df["IAT"])

In [234]:
# Assuming the first row has a predefined initial value for "clock"
double_server_DF["clock"][0] = 0  # Replace 'initial_value' with the actual initial value

# Iterate over the rows starting from the second row
for i in range(1, len(double_server_DF)):
    double_server_DF["clock"][i] = double_server_DF["clock"][i - 1] + double_server_DF["IAT"][i].astype(float)

C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\1788927904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["clock"][0] = 0  # Replace 'initial_value' with the actual initial value
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\1788927904.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["clock"][i] = double_server_DF["clock"][i - 1] + double_server_DF["IAT"][i].astype(float)

In [235]:
Able_ST_End=0
Able_ST_Begine=0
clock=0
Baker_ST_End=0
Baker_ST_Begine=0
print("c = ",clock," A = ",Able_ST_End," B= ",Baker_ST_End)
for i in range(0,len(double_server_DF)-1):
    if ( ((clock-Able_ST_End) ==(clock-Baker_ST_End))or(((clock-Baker_ST_End))>=((clock-Able_ST_End))) or(((clock-Baker_ST_End))>=((0)))or(Baker_ST_End==clock)):
        double_server_DF["Baker_ST_Begine"][i] =np.max(np.array([Baker_ST_End, double_server_DF["clock"][i]]))
        Baker_conditions = [(double_server_DF["RN_ST"][i] >= low) & (double_server_DF["RN_ST"][i] <= high) for low, high in zip(BAKER_ST_df["ran"], BAKER_ST_df["range"])]
        double_server_DF["Baker_ST"][i] = np.select(Baker_conditions, BAKER_ST_df["IAT"])
        double_server_DF["Baker_ST_End"][i]=double_server_DF["Baker_ST_Begine"][i]+double_server_DF["Baker_ST"][i]
        double_server_DF["Baker_IDT"][i]=double_server_DF["Baker_ST_Begine"][i]-Baker_ST_End
        Baker_ST_End=double_server_DF["Baker_ST_End"][i]
        Baker_ST_Begine=double_server_DF["Baker_ST_Begine"][i]
        clock=double_server_DF["clock"][i+1]
        double_server_DF["Queuing_Time"][i]=np.abs(double_server_DF["Baker_ST_Begine"][i]-double_server_DF["clock"][i])

    else:
        double_server_DF["Able_ST_Begine"][i] = np.max(np.array([Able_ST_End, double_server_DF["clock"][i]]))
        Able_conditions = [(double_server_DF["RN_ST"][i] >= low) & (double_server_DF["RN_ST"][i] <= high) for low, high in zip(ABLE_ST_df["ran"], ABLE_ST_df["range"])]
        double_server_DF["Able_ST"][i] = np.select(Able_conditions, ABLE_ST_df["IAT"])
        double_server_DF["Able_ST_End"][i]=double_server_DF["Able_ST_Begine"][i]+double_server_DF["Able_ST"][i]
        double_server_DF["Able_IDT"][i]=double_server_DF["Able_ST_Begine"][i]-Able_ST_End
        Able_ST_End=double_server_DF["Able_ST_End"][i]
        Able_ST_Begine=double_server_DF["Able_ST_Begine"][i]
        clock=double_server_DF["clock"][i+1]
        double_server_DF["Queuing_Time"][i]=np.abs(double_server_DF["Able_ST_Begine"][i]-double_server_DF["clock"][i])
    print("c = ",clock," A = ",Able_ST_End," B= ",Baker_ST_End)

C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Baker_ST_Begine"][i] =np.max(np.array([Baker_ST_End, double_server_DF["clock"][i]]))
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Baker_ST"][i] = np.select(Baker_conditions, BAKER_ST_df["IAT"])
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Baker_ST_End"][i]=double_server_DF["Baker_ST_Begine"][i]+double_server_DF["Baker_ST"][i]
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Baker_IDT"][i]=double_server_DF["Baker_ST_Begine"][i]-Baker_ST_End
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Queuing_Time"][i]=np.abs(double_server_DF["Baker_ST_Begine"][i]-double_server_DF["clock"][i])
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Able_ST_Begine"][i] = np.max(np.array([Able_ST_End, double_server_DF["clock"][i]]))
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Able_ST"][i] = np.select(Able_conditions, ABLE_ST_df["IAT"])
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Able_ST_End"][i]=double_server_DF["Able_ST_Begine"][i]+double_server_DF["Able_ST"][i]
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Able_IDT"][i]=double_server_DF["Able_ST_Begine"][i]-Able_ST_End
C:\Users\Zy565\AppData\Local\Temp\ipykernel_17612\2512423090.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  double_server_DF["Queuing_Time"][i]=np.abs(double_server_DF["Able_ST_Begine"][i]-double_server_DF["clock"][i])

c =  0  A =  0  B=  0
c =  2.0  A =  0  B=  5
c =  6.0  A =  4  B=  5
c =  10.0  A =  4  B=  9
c =  12.0  A =  4  B=  15
c =  14.0  A =  17  B=  15
c =  17.0  A =  17  B=  18
c =  20.0  A =  19  B=  18
c =  23.0  A =  19  B=  24
c =  24.0  A =  26  B=  24
c =  26.0  A =  26  B=  27
c =  28.0  A =  29  B=  27
c =  30.0  A =  29  B=  31
c =  31.0  A =  35  B=  31
c =  33.0  A =  35  B=  33
c =  35.0  A =  35  B=  38
c =  37.0  A =  38  B=  38
c =  40.0  A =  38  B=  43
c =  42.0  A =  44  B=  43
c =  44.0  A =  44  B=  45
c =  48.0  A =  48  B=  45
c =  49.0  A =  48  B=  50
c =  51.0  A =  52  B=  50
c =  54.0  A =  52  B=  55
c =  55.0  A =  57  B=  55
c =  59.0  A =  57  B=  60
c =  60.0  A =  62  B=  60

In [236]:
double_server_DF["Time_Spent_n_System"] = np.maximum(double_server_DF["Baker_ST"], double_server_DF["Able_ST"]) + double_server_DF["Queuing_Time"]

In [237]:
double_server_DF["RN_IAT"].replace(-1, "-", inplace=True)

double_server_DF["Able_ST_Begine"].replace(0, "-", inplace=True)
double_server_DF["Able_ST"].replace(0, "-", inplace=True)
double_server_DF["Able_ST_End"].replace(0, "-", inplace=True)

double_server_DF["Baker_ST_Begine"].replace(0, "-", inplace=True)
double_server_DF["Baker_ST"].replace(0, "-", inplace=True)
double_server_DF["Baker_ST_End"].replace(0, "-", inplace=True)

double_server_DF["Able_IDT"].replace(-1, "-", inplace=True)
double_server_DF["Baker_IDT"].replace(-1, "-", inplace=True)

double_server_DF["Baker_ST_Begine"][0]=0

In [238]:
print(double_server_DF.info())
double_server_DF[:-1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RN_IAT               27 non-null     int64
 1   IAT                  27 non-null     int32
 2   clock                27 non-null     object
 3   RN_ST                27 non-null     int64
 4   Able_ST_Begine       27 non-null     object
 5   Able_ST              27 non-null     object
 6   Able_ST_End          27 non-null     object
 7   Baker_ST_Begine      27 non-null     object
 8   Baker_ST             27 non-null     object
 9   Baker_ST_End         27 non-null     object
 10  Queuing_Time         27 non-null     int64
 11  Time_Spent_n_System  27 non-null     int64
 12  Able_IDT             27 non-null     object
 13  Baker_IDT            27 non-null     object
dtypes: int32(1), int64(4), object(9)
memory usage: 3.0+ KB
None

,RN_IAT,IAT,clock,RN_ST,Able_ST_Begine,Able_ST,Able_ST_End,Baker_ST_Begine,Baker_ST,Baker_ST_End,Queuing_Time,Time_Spent_n_System,Able_IDT,Baker_IDT
Call_ID,,,,,,,,,,,,,,
0,0,1,0,95,-,-,-,0,5,5,0,5,-,0
1,26,2,2.0,21,2,2,4,-,-,-,0,2,2,-
2,98,4,6.0,51,-,-,-,6,3,9,0,3,-,1
3,90,4,10.0,92,-,-,-,10,5,15,0,5,-,1
4,26,2,12.0,89,12,5,17,-,-,-,0,5,8,-
5,42,2,14.0,38,-,-,-,15,3,18,1,4,-,0
6,74,3,17.0,13,17,2,19,-,-,-,0,2,0,-
7,80,3,20.0,61,-,-,-,20,4,24,0,4,-,2
8,68,3,23.0,50,23,3,26,-,-,-,0,3,4,-
9,22,1,24.0,49,-,-,-,24,3,27,0,3,-,0
10,48,2,26.0,39,26,3,29,-,-,-,0,3,0,-
11,34,2,28.0,53,-,-,-,28,3,31,0,3,-,1
12,45,2,30.0,88,30,5,35,-,-,-,0,5,1,-
13,24,1,31.0,1,-,-,-,31,2,33,0,2,-,0
14,34,2,33.0,81,-,-,-,33,5,38,0,5,-,0
15,63,2,35.0,53,35,3,38,-,-,-,0,3,0,-
16,38,2,37.0,81,-,-,-,38,5,43,1,6,-,0
17,80,3,40.0,64,40,4,44,-,-,-,0,4,2,-
18,42,2,42.0,1,-,-,-,43,2,45,1,3,-,0
19,56,2,44.0,67,44,4,48,-,-,-,0,4,0,-
20,89,4,48.0,1,-,-,-,48,2,50,0,2,-,3
21,18,1,49.0,47,49,3,52,-,-,-,0,3,1,-
22,51,2,51.0,75,-,-,-,51,4,55,0,4,-,1
23,71,3,54.0,57,54,3,57,-,-,-,0,3,2,-
24,16,1,55.0,87,-,-,-,55,5,60,0,5,-,0
25,92,4,59.0,47,59,3,62,-,-,-,0,3,2,-

In [239]:
csv_file_path = 'D:\CodeS\simulation\outPut.csv'
# Save the DataFrame as a CSV file
double_server_DF[:-1].to_csv(csv_file_path, index=False)

In [243]:
import tabula

# Specify the path to your CSV file
csv_file_path = 'D:\CodeS\simulation\outPut.csv'  # Replace 'your_csv_file' with the actual CSV file name

# Specify the path where you want to save the PDF file
pdf_file_path = 'D:\CodeS\simulation\out_put.csv'  # Replace 'output' with the desired PDF file name

# Read the CSV file and convert it to PDF
tabula.convert_into(csv_file_path, pdf_file_path, output_format="pdf", pages='all')

ValueError: Unknown output_format='pdf'

In [245]:
import tabula

# Specify the path to your CSV file
csv_file_path = 'D:\CodeS\simulation\outPut.csv'

# Specify the path where you want to save the PDF file
# pdf_file_path = 'D:\CodeS\simulation\out_put.pdf' # Replace 'output' with the desired PDF file name

# Read the CSV file and convert it to PDF
tabula.convert_into(csv_file_path, pdf_file_path, output_format="PDF", pages='all')

ValueError: Unknown output_format='PDF'