In [49]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [50]:
Demand_df = pd.DataFrame.from_dict({'Demand': [0,1, 2, 3, 4], 'P': [0.10, 0.25, 0.35, 0.21,0.09]})
Demand_df['CDF'] = Demand_df['P'].cumsum()
Demand_df['range'] = Demand_df['CDF'] * 100  
Demand_df['ran']=[1] + (Demand_df["CDF"]+0.01).tolist()[:-1]

print(Demand_df.info())
Demand_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Demand  5 non-null      int64
 1   P       5 non-null      float64
 2   CDF     5 non-null      float64
 3   range   5 non-null      float64
 4   ran     5 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 332.0 bytes
None

   Demand     P   CDF  range   ran
0       0  0.10  0.10   10.0  1.00
1       1  0.25  0.35   35.0  0.11
2       2  0.35  0.70   70.0  0.36
3       3  0.21  0.91   91.0  0.71
4       4  0.09  1.00  100.0  0.92

In [51]:
Lead_time_df = pd.DataFrame.from_dict({'Lead time': [1,2,3], 'P': [0.6,0.3,0.10]})
Lead_time_df['CDF'] = Lead_time_df['P'].cumsum()
Lead_time_df['range'] = (Lead_time_df['CDF'] * 10).tolist()[:-1]+[0]
Lead_time_df['ran']=([1] + (Lead_time_df["CDF"]+0.1).tolist()[:-2]+[0])
print(Lead_time_df.info())
Lead_time_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Lead time  3 non-null      int64
 1   P          3 non-null      float64
 2   CDF        3 non-null      float64
 3   range      3 non-null      float64
 4   ran        3 non-null      float64
dtypes: float64(4), int64(1)
memory usage: 252.0 bytes
None

   Lead time    P  CDF  range  ran
0          1  0.6  0.6    6.0  1.0
1          2  0.3  0.9    9.0  0.7
2          3  0.1  1.0    0.0  0.0

In [52]:
Demand_RN_LIST=[24,35 ,65 ,81, 54,3, 87, 27, 73, 70, 47, 45, 48, 17,9, 42, 87, 26, 36, 40, 7, 63, 19, 88, 94]
Lead_RN_LIST= [5,0,3,4,8]

M=12

In [53]:
server_DF=pd.DataFrame.from_dict({'Cycle':np.repeat(range(1,6),5),'Days':range(1,26) ,"Inv. B.":0,"RN D":Demand_RN_LIST, 'Demand': 0,"Inv.E.":0,"Short":0,"Q_Order":0,"RN L":-1,"Lead":0})
Demand_conditions = [(server_DF["RN D"] >= low) & (server_DF["RN D"] <= high) for low, high in zip(Demand_df["ran"], Demand_df["range"])]
server_DF["Demand"] = np.select(Demand_conditions, Demand_df["Demand"])
server_DF=server_DF.reset_index(drop=True)

server_DF

    Cycle  Days  Inv. B.  RN D  Demand  Inv.E.  Short  Q_Order  RN L  Lead
0       1     1        0    24       1       0      0        0    -1     0
1       1     2        0    35       1       0      0        0    -1     0
2       1     3        0    65       2       0      0        0    -1     0
3       1     4        0    81       3       0      0        0    -1     0
4       1     5        0    54       2       0      0        0    -1     0
5       2     6        0     3       0       0      0        0    -1     0
6       2     7        0    87       3       0      0        0    -1     0
7       2     8        0    27       1       0      0        0    -1     0
8       2     9        0    73       3       0      0        0    -1     0
9       2    10        0    70       2       0      0        0    -1     0
10      3    11        0    47       2       0      0        0    -1     0
11      3    12        0    45       2       0      0        0    -1     0
12      3    13        0    48       2       0      0        0    -1     0
13      3    14        0    17       1       0      0        0    -1     0
14      3    15        0     9       0       0      0        0    -1     0
15      4    16        0    42       2       0      0        0    -1     0
16      4    17        0    87       3       0      0        0    -1     0
17      4    18        0    26       1       0      0        0    -1     0
18      4    19        0    36       2       0      0        0    -1     0
19      4    20        0    40       2       0      0        0    -1     0
20      5    21        0     7       0       0      0        0    -1     0
21      5    22        0    63       2       0      0        0    -1     0
22      5    23        0    19       1       0      0        0    -1     0
23      5    24        0    88       3       0      0        0    -1     0
24      5    25        0    94       4       0      0        0    -1     0

In [54]:
x=0
for i in range(4,len(server_DF),5):
    server_DF["RN L"][i]=Lead_RN_LIST[x]
    x=x+1
server_DF

C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\1762880208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["RN L"][i]=Lead_RN_LIST[x]

    Cycle  Days  Inv. B.  RN D  Demand  Inv.E.  Short  Q_Order  RN L  Lead
0       1     1        0    24       1       0      0        0    -1     0
1       1     2        0    35       1       0      0        0    -1     0
2       1     3        0    65       2       0      0        0    -1     0
3       1     4        0    81       3       0      0        0    -1     0
4       1     5        0    54       2       0      0        0     5     0
5       2     6        0     3       0       0      0        0    -1     0
6       2     7        0    87       3       0      0        0    -1     0
7       2     8        0    27       1       0      0        0    -1     0
8       2     9        0    73       3       0      0        0    -1     0
9       2    10        0    70       2       0      0        0     0     0
10      3    11        0    47       2       0      0        0    -1     0
11      3    12        0    45       2       0      0        0    -1     0
12      3    13        0    48       2       0      0        0    -1     0
13      3    14        0    17       1       0      0        0    -1     0
14      3    15        0     9       0       0      0        0     3     0
15      4    16        0    42       2       0      0        0    -1     0
16      4    17        0    87       3       0      0        0    -1     0
17      4    18        0    26       1       0      0        0    -1     0
18      4    19        0    36       2       0      0        0    -1     0
19      4    20        0    40       2       0      0        0     4     0
20      5    21        0     7       0       0      0        0    -1     0
21      5    22        0    63       2       0      0        0    -1     0
22      5    23        0    19       1       0      0        0    -1     0
23      5    24        0    88       3       0      0        0    -1     0
24      5    25        0    94       4       0      0        0     8     0

In [55]:
M=12
Inv_E=0
short=0
server_DF["Inv. B."][0]=0
server_DF["Inv. B."][2]=8
server_DF["Lead"][0]=1

C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\2394211297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv. B."][0]=0
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\2394211297.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv. B."][2]=8
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\2394211297.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Lead"][0]=1

In [56]:
for i in range(0,len(server_DF)):
    
    Demand=server_DF["Demand"][i]
    Inv_B=server_DF["Inv. B."][i]
    
    if((Demand+short)<=Inv_B):
        server_DF["Inv.E."][i]=Inv_B-Demand-short
        Inv_E=server_DF["Inv.E."][i]
        try:    
            server_DF["Inv. B."][i+1]+=Inv_E
        except IndexError:
            print("IndexError: out of range")
        except KeyError:
            print("KeyError: out of range")
        Inv_B=Inv_E
        server_DF["Short"][i]=0
        short=0
    else:
        server_DF["Inv.E."][i]=0
        server_DF["Short"][i]=np.abs(Inv_B-Demand)+short
        short=server_DF["Short"][i]
        Inv_B=0
        Inv_E=0
    if((i+1 ) % 5 == 0):
        server_DF["Q_Order"][i]=M-Inv_E+short
        Q_o=server_DF["Q_Order"][i]
        Lead_conditions = [(server_DF["RN L"][i] >= low) & (server_DF["RN L"][i]<= high) for low, high in zip(Lead_time_df["ran"], Lead_time_df["range"])]

        server_DF["Lead"][i]=np.select(Lead_conditions, Lead_time_df["Lead time"])
        L_T=server_DF["Lead"][i]
        try:
            server_DF["Inv. B."][i+1+L_T]=server_DF["Inv. B."][i+1+L_T]+Q_o
        except IndexError:
            print("IndexError: out of range")
        except KeyError:
            print("KeyError: out of range")
    server_DF["Lead"][i+1]=server_DF["Lead"][i]-1

KeyError: out of range
KeyError: out of range

C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv.E."][i]=0
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Short"][i]=np.abs(Inv_B-Demand)+short
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Lead"][i+1]=server_DF["Lead"][i]-1
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv.E."][i]=Inv_B-Demand-short
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv. B."][i+1]+=Inv_E
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Short"][i]=0
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Q_Order"][i]=M-Inv_E+short
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Lead"][i]=np.select(Lead_conditions, Lead_time_df["Lead time"])
C:\Users\Zy565\AppData\Local\Temp\ipykernel_19896\46469371.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  server_DF["Inv. B."][i+1+L_T]=server_DF["Inv. B."][i+1+L_T]+Q_o

In [57]:
AVG_ending_time=np.sum(server_DF["Inv.E."])/25
number_of_short_time=(server_DF['Short'] != 0).sum()

In [58]:
server_DF['Lead'] = server_DF['Lead'].apply(lambda x: '-' if x < 0 else x)
server_DF["RN L"].replace(-1, "-", inplace=True)

In [59]:
server_DF

    Cycle  Days  Inv. B.  RN D  Demand  Inv.E.  Short  Q_Order RN L Lead
0       1     1        0    24       1       0      1        0    -    1
1       1     2        0    35       1       0      2        0    -    0
2       1     3        8    65       2       4      0        0    -    -
3       1     4        4    81       3       1      0        0    -    -
4       1     5        1    54       2       0      1       13    5    1
5       2     6        0     3       0       0      1        0    -    0
6       2     7       13    87       3       9      0        0    -    -
7       2     8        9    27       1       8      0        0    -    -
8       2     9        8    73       3       5      0        0    -    -
9       2    10        5    70       2       3      0        9    0    3
10      3    11        3    47       2       1      0        0    -    2
11      3    12        1    45       2       0      1        0    -    1
12      3    13        0    48       2       0      3        0    -    0
13      3    14        9    17       1       5      0        0    -    -
14      3    15        5     9       0       5      0        7    3    1
15      4    16        5    42       2       3      0        0    -    0
16      4    17       10    87       3       7      0        0    -    -
17      4    18        7    26       1       6      0        0    -    -
18      4    19        6    36       2       4      0        0    -    -
19      4    20        4    40       2       2      0       10    4    1
20      5    21        2     7       0       2      0        0    -    0
21      5    22       12    63       2      10      0        0    -    -
22      5    23       10    19       1       9      0        0    -    -
23      5    24        9    88       3       6      0        0    -    -
24      5    25        6    94       4       2      0       10    8    2

In [60]:
print("AVG_ending time = ",AVG_ending_time)
print("number of short time = ",number_of_short_time)

AVG_ending time =  3.68
number of short time =  6